.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-bottom: 1px solid #ddd;
  padding: 6px 0;
}

.nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding: 6px 0;
  transition: color 0.3s ease, text-decoration 0.3s ease, border-bottom 0.3s ease;
  display: inline-block;
}

.nav a:hover {
  color: var(--main-orange);
  text-decoration: underline;
}

.nav a.active {
  color: var(--main-orange);
  text-decoration: none;
  border-bottom: 2px solid var(--main-orange);
  padding-bottom: 4px;
  font-weight: 700;
}

/* only for projects navbar */
.projects-nav a.home-link {
  color: rgb(0, 200, 150);
}

.projects-nav a.home-link:hover {
  color: rgb(0, 255, 200);
}

.projects-nav a.home-link.active {
  color: rgb(0, 200, 150);
  border-bottom: 2px solid rgb(0, 200, 150);
}