.header {
  background-image: url('/images/Header-Background.png');
  background-size: contain;
  background-size: 80%;
  background-position: center; 
  background-repeat: repeat;
  padding: 20px 20px;
  color: white;
  text-align: center;
  font-family: 'Segoe UI', 'Times New Roman', Times, serif;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
}

.header h1 {
  font-size: 3rem;
  margin: 0 0 10px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.header p {
  color: rgb(211, 211, 211);
  background-color: rgba(49, 49, 49, 0.6);
  font-size: 1.2rem;
  margin: 0;
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(108, 108, 108, 0.6);
}
